*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .newList{
//     width: 1140px;
//     margin: 0 auto;
//     // display: flex;

//     .wrapper{
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }
    // .posts-list{
    //     width: 1140px;
    //     display: flex;
    //     align-items: flex-start;
    //     align-content: flex-start;
    //     justify-content: space-between;
    //     flex-wrap: wrap;
    //     list-style: none;
    
        .posts{
            width: 207px;
            height: 446px;
            vertical-align: top;
            padding: 12px 8px;
            margin: 10px auto;
            list-style: none;
            
            img{
                width: 90%;
                height: 40%;
                margin-bottom: 15px;
            }
            h1{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin-top: 18px;
                margin-bottom: 15px;
            }
            
            .stars{
                margin-top: 18px;
                margin-bottom: 15px;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .price{
                display: flex;
                flex-direction: column;
                vertical-align: bottom;

                .oldPrice{
                    text-decoration: line-through;
                }
                .currentPrice{
                    font-weight: 600;
                    font-size: 16px;
                }
                .as-debt{
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            .controls{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .btn{
                    padding: 8px 18px;
                    background-color: #4D96FF;
                    color: #fff;
                    font-weight: 500;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    border-radius: 8px;
                    cursor: pointer;
                }
                .btn-false{
                    cursor: pointer;
                    padding: 8px 18px;
                    background-color: #ccc;
                    color: #fff;
                    font-weight: 500;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    border-radius: 8px;
                }
                .cont{
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    //  }
// }