* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.category {
  width: 100%;
  padding: 14px 0;
  -webkit-box-shadow: 0px 11px 34px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 11px 34px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 11px 34px -2px rgba(34, 60, 80, 0.2);

  ul {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}
