* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 1140px;
  height: 80px;
  margin: 0 auto;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
        // margin-top: 15px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        font-weight: 400;
        font-size: 28px;
        line-height: 44px;
      }

      form {
        width: 500px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid rgba(82, 82, 82, 0.12);
        display: flex;
        align-items: center;

        input{
            width: 90%;
            padding: 12px 18px;
            border: none;
            outline: none;
            &::placeholder{
                font-size: 14px;
            }
        }
        button{
            width: 10%;
            height: 100%;
            border: none;
            outline: none;
            color: #fff;
            background-color: #4D96FF;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
      }

      .first, .second, .third, .fourth{
          margin: 15px;
          display: flex;
          align-items: center;
          flex-direction: column;
      }
    }
  }
}
