// .App {
//   width: 1140px;
//   margin: 0 auto;
//   text-align: center;
// }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.newPoroducts{
  width: 1140px;
  margin: 36px auto;

  h1{
    text-align: left;
  }

  .newProduct-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
  } 
}
.newList {
  width: 1140px;
  margin: 36px auto;

  h1{
    text-align: left;
  }

  .posts-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
  }
}
.wrapper button {
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
}
.pro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
